<nav class="navbar is-primary">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">Symfony Blog</a>
    </div>
    <div class="navbar-menu">
        <ul class="navbar-end">
            <li class="navbar-item"><a href="{{  path('article-create') }}">Create</a></li>
        </ul>
    </div>
</nav>
